<!-- <div class=" bg-amber-200 h-15">
    <nav class=" flex flex-col md:flex-row lg:flex-row justify-between items-center">
        <div>
            <img src="movie.png" alt="cinehub" style="height: 40px;" class=" rounded-full ml-5 mt-3">
        </div>
        <ul class="flex flex-row gap-8 text-2xl ">
            <a routerLink="">Home</a>
            <select name="" id="">
                <option value="" disabled selected>Movies List</option>
                <option value="">Comedy</option>
                <option value="">Contact</option>
            </select>
            <li><a routerLink="contact">Contact</a></li>
        </ul>
    </nav>
</div> -->
<header class=" flex flex-col gap-10 lg:flex-row lg:justify-between items-center py-4 px-10 bg-gradient-to-tr from-purple-400 via-pink-300 to-yellow-200">
    <div class=" flex items-center gap-3">
           <img src="movie.png" alt="image" class=" h-12 bg-blend-multiply rounded-full"> 
           <h2 class=" text-4xl">Cine <span class=" text-blue-600">Hub</span></h2>
    </div>
    <nav class=" menu flex">
        <ul class=" flex items-center gap-5 list-unstyled">
            <li><a routerLink="" class=" text-2xl text-white hover:text-blue-600 decoration-0">Home</a></li>
            <!-- <li><a routerLink="comedy" class=" text-2xl text-white hover:text-blue-600 decoration-0">Comedy</a></li> -->
            <li><a routerLink="contact" class=" text-2xl text-white hover:text-blue-600 decoration-0">Contact</a></li>
        </ul>
    </nav>
</header>
